<div class="skip">
  <button (click)="navigateToHome()">Skip</button>
</div>
<ion-slides pager="true">
  <ion-slide>
    <div class="slide">
      <img src="/assets/images/introduction/1.png">
      <h2>Welcome to TM</h2>
      <p>One platform for all the <b>Mothers</b> to come together and share their most intriguing
        <b>Motherhood</b> experiences.</p>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide">
      <img src="/assets/images/introduction/2.png">
      <h2>Why TM?</h2>
      <p><b>TM</b> provides all necessary information and tips about Baby-Health & Pregnancy</p>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide">
      <app-login-core></app-login-core>
    </div>
  </ion-slide>
</ion-slides>