<div class="login">
  <img src="/assets/images/login/login.png">
  <div class="facebook">
    <div class="image-conatiner">
      <img src="/assets/images/login/facebook.png">
    </div>
    <p>Sign up with Facebook</p>
  </div>
  <div class="google" (click)="loginWithGoogle()">
    <div class="image-conatiner">
      <img src="/assets/images/login/google.png">
    </div>
    <p>Sign up with Google</p>
  </div>
  <div class="skip" (click)="navigateToHome()">
    <p>Skip for now</p>
  </div>
</div>