<ion-segment value="Baby Health" (ionChange)="segmentChanged($event)" mode="md">
    <ion-segment-button value="Baby Health">
        <ion-label>Baby Health</ion-label>
        <ion-icon name="medkit"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Baby Food">
        <ion-label>Baby Food</ion-label>
        <ion-icon name="restaurant"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Pregnancy">
        <ion-label>Pregnancy</ion-label>
        <ion-icon name="woman"></ion-icon>
    </ion-segment-button>
</ion-segment>