ion-menu {
    ion-header {
        ion-toolbar {
            --background: translucent;
            background-color: #517a9f;
            color: white;
            padding: 0px 30px 10px 15px;
            .user {
                img {
                    height: 50px;
                    width: 50px;
                    margin-top: 15px;
                    border: 2px solid white;
                    border-radius: 50%;
                }
                .userDetail {
                    margin-top: 5px;
                    font-weight: 500;
                    font-size: 15px;
                    word-wrap: break-word;
                }
            }
            .notUser {
                img {
                    margin: 15px 0px 15px 0px;
                    height: 60px;
                    width: 60px;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }
    ion-content {
        width: 100vw;
        ion-list {
            ion-item {
                opacity: 1;
                ion-icon {
                    color: black;
                }
                ion-label {
                    color: black;
                    font-weight: 500;
                }
            }
            ion-item[button] {
                pointer-events: initial !important;
            }
        }
    }
}
