<ion-header #header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button slot="start" (click)="openMenu()"></ion-menu-button>
            <ion-title>
                ThanksMummy
            </ion-title>
            <ion-button slot="end">
                <ion-icon name="funnel-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <app-category></app-category>
</ion-toolbar>

<app-menu></app-menu>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" (ionScrollStart)="scrollStart(header)">
    <div class="home">
        <app-story-list></app-story-list>
    </div>
</ion-content>